@media screen and (min-width: 320px) and (max-width: 570px) {

    .signuppage {
        position: absolute;
        right: 0;
        height: 100%;
        width: 100%;
    }

    .signupbox {
        height: 100%;
        width: 100%;
        background-color: white;
        position: absolute;
        right: 0;
    }

    .block {
        height: 10%;
        width: 100%;
        background-color: lightgrey;
    }

    .create {
        text-align: center;
        font-size: 25px;
    }

    .avatar {
        height: 50px;
        width: 50px;
        background-color: black;
        border-radius: 50%;
        margin: 1% auto;
    }

    .signupform {
        position: absolute;
        left: 10%;
        top: 30%;
        height: 60%;
        width: 80%;
    }

    .info {
        color: lightgrey;
        font-size: 16px;
    }

    input {
        height: 10%;
        margin: 10px 0;
    }

    .submit {
        margin: 0 auto;
    }
}

@media screen and (min-width: 571px) and (max-width: 870px) {

    .signuppage {
        position: absolute;
        right: 0;
        height: 100%;
        width: 95%;
    }

    .signupbox {
        height: 100%;
        width: 100%;
        background-color: white;
        position: absolute;
        right: 0;
        border-radius: 20px 50px 50px 20px;
    }

    .block {
        height: 10%;
        width: 100%;
        background-color: lightgrey;
        border-radius: 20px 50px 0px 0px;
    }

    .create {
        text-align: center;
    }

    .avatar {
        height: 50px;
        width: 50px;
        background-color: black;
        border-radius: 50%;
        margin: 0 auto;
    }

    .signupform {
        position: absolute;
        left: 10%;
        top: 30%;
        height: 60%;
        width: 80%;
    }

    .info {
        font-size: 15px;
        color: lightgrey;
    }

    input {
        height: 7%;
        margin: 10px 0;
    }

    .submit {
        margin: 0 auto;
    }
}

@media screen and (min-width: 871px) and (max-width: 1080px) {

    .signuppage {
        position: absolute;
        right: 0;
        height: 100%;
        width: 95%;
    }

    .signupbox {
        height: 100%;
        width: 100%;
        background-color: white;
        position: absolute;
        right: 0;
        border-radius: 0 50px 50px 0;
    }

    .block {
        height: 10%;
        width: 100%;
        background-color: lightgrey;
        border-radius: 0 50px 0 0;
    }

    .create {
        text-align: center;
    }

    .avatar {
        height: 60px;
        width: 60px;
        background-color: black;
        border-radius: 50%;
        margin: auto;
    }

    .signupform {
        position: absolute;
        left: 10%;
        top: 30%;
        height: 60%;
        width: 80%;
    }

    .info {
        font-size: 20px;
        color: lightgrey;
    }

    input {
        height: 10%;
        margin: 10px 0;
    }

    .submit {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1440px) {

    .signuppage {
        position: absolute;
        right: 0;
        height: 100%;
        width: 94%;
    }

    .signupbox {
        height: 100%;
        width: 100%;
        background-color: white;
        position: absolute;
        right: 0;
        border-radius: 0 50px 50px 0;
    }

    .block {
        height: 10%;
        width: 100%;
        background-color: lightgrey;
        border-radius: 0 50px 0 0;
    }

    .create {
        text-align: center;
    }

    .avatar {
        height: 60px;
        width: 60px;
        background-color: black;
        border-radius: 50%;
        margin: 0 auto;
    }

    .signupform {
        position: absolute;
        left: 10%;
        top: 30%;
        height: 60%;
        width: 80%;
    }

    .info {
        color: lightgrey;
    }

    input {
        height: 10%;
        margin: 10px 0;
    }

    .submit {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1441px) and (max-width: 2570px) {

    .signuppage {
        position: absolute;
        right: 0;
        height: 100%;
        width: 94%;
    }

    .signupbox {
        height: 100%;
        width: 100%;
        background-color: white;
        position: absolute;
        right: 0;
        border-radius: 0 50px 50px 0;
    }

    .block {
        height: 10%;
        width: 100%;
        background-color: lightgrey;
        border-radius: 0 50px 0 0;
    }

    .create {
        text-align: center;
    }

    .avatar {
        height: 70px;
        width: 70px;
        background-color: black;
        border-radius: 50%;
        margin: 0 auto;
    }

    .signupform {
        position: absolute;
        left: 10%;
        top: 30%;
        height: 60%;
        width: 80%;
    }

    .info {
        font-size: 22px;
        color: lightgrey;
    }

    input {
        margin: 10px 0;
        height: 10%;
    }

    .submit {
        margin: 0 auto;
    }
}